In [31]:
import pandas as pd
import yfinance as yf
import datetime

Con el siguiente código se puede estudiar el valor de cierre de cada acción dureante el periodo máximo de la misma.

In [4]:
empresas = ['AMZN','AAPL','INTC','MSFT','NFLX']

recolector =[]
for nemo in empresas:
    ticker =yf.Ticker(nemo)
    px = ticker.history(period='max')['Close']
    px.name = nemo

    recolector += [px]

precios = pd.concat(recolector, axis=1)

precios

,AMZN,AAPL,INTC,MSFT,NFLX
Date,,,,,
1980-03-17 00:00:00-05:00,NaN,NaN,0.185958,NaN,NaN
1980-03-18 00:00:00-05:00,NaN,NaN,0.184470,NaN,NaN
1980-03-19 00:00:00-05:00,NaN,NaN,0.188933,NaN,NaN
1980-03-20 00:00:00-05:00,NaN,NaN,0.188189,NaN,NaN
1980-03-21 00:00:00-05:00,NaN,NaN,0.181494,NaN,NaN
...,...,...,...,...,...
2023-03-20 00:00:00-04:00,97.709999,157.399994,29.160000,272.230011,305.130005
2023-03-21 00:00:00-04:00,100.610001,159.279999,28.459999,273.779999,305.790009
2023-03-22 00:00:00-04:00,98.699997,157.830002,28.129999,272.290009,293.899994
2023-03-23 00:00:00-04:00,98.709999,158.929993,29.030001,277.660004,320.369995
2023-03-24 00:00:00-04:00,98.129997,160.250000,29.360001,280.570007,328.390015

In [5]:
# Reseteamos el index para que el campo Date lo tome como una columna en el DF
precios = precios.reset_index()

In [11]:
precios.head()

                       Date  AMZN  AAPL      INTC  MSFT  NFLX
0 1980-03-17 00:00:00-05:00   NaN   NaN  0.185958   NaN   NaN
1 1980-03-18 00:00:00-05:00   NaN   NaN  0.184470   NaN   NaN
2 1980-03-19 00:00:00-05:00   NaN   NaN  0.188933   NaN   NaN
3 1980-03-20 00:00:00-05:00   NaN   NaN  0.188189   NaN   NaN
4 1980-03-21 00:00:00-05:00   NaN   NaN  0.181494   NaN   NaN

In [6]:
precios.to_csv("sp500_5Empresas.csv", index=False)

In [20]:
# Crear una lista con los símbolos por cada acción
#symbols = ['AMZN', 'AAPL', 'INTC', 'MSFT', 'NFLX']
symbols = ['AMZN']

In [21]:
# Establecer la fecha de inicio como hace 23 años
start_date = datetime.datetime.now() - datetime.timedelta(days=23*365)
start_date = start_date.strftime('%Y-%m-%d')

In [22]:
# Establecer la fecha final como la fecha actual
end_date = datetime.datetime.now().strftime('%Y-%m-%d')

In [23]:
# Descargar los datos utilizando el método download()
data = yf.download(tickers=symbols, start=start_date, end=end_date, interval="1d")

[*********************100%***********************]  1 of 1 completed

In [26]:
df = pd.concat([data], axis=1)

In [27]:
df.head()

                Open      High      Low     Close  Adj Close     Volume
Date
2000-03-31  3.337500  3.356250  3.15000  3.350000   3.350000  102310000
2000-04-03  3.271875  3.284375  3.10000  3.178125   3.178125   97308000
2000-04-04  3.143750  3.271875  2.78750  3.196875   3.196875  286360000
2000-04-05  3.087500  3.246875  3.02500  3.109375   3.109375   98000000
2000-04-06  3.171875  3.275000  3.09375  3.212500   3.212500  120654000

In [28]:
df = df.reset_index()

In [29]:
df.head()

        Date      Open      High      Low     Close  Adj Close     Volume
0 2000-03-31  3.337500  3.356250  3.15000  3.350000   3.350000  102310000
1 2000-04-03  3.271875  3.284375  3.10000  3.178125   3.178125   97308000
2 2000-04-04  3.143750  3.271875  2.78750  3.196875   3.196875  286360000
3 2000-04-05  3.087500  3.246875  3.02500  3.109375   3.109375   98000000
4 2000-04-06  3.171875  3.275000  3.09375  3.212500   3.212500  120654000

In [30]:
df.to_csv("Amazon.csv", index=False)

Haremos lo mismo para lás demás compañías.

In [32]:
symbols = ['AAPL']
# Establecer la fecha de inicio como hace 23 años
start_date = datetime.datetime.now() - datetime.timedelta(days=23*365)
start_date = start_date.strftime('%Y-%m-%d')
# Establecer la fecha final como la fecha actual
end_date = datetime.datetime.now().strftime('%Y-%m-%d')
# Descargar los datos utilizando el método download()
data = yf.download(tickers=symbols, start=start_date, end=end_date, interval="1d")
df = pd.concat([data], axis=1)
df = df.reset_index()
df.to_csv("Apple.csv", index=False)

[*********************100%***********************]  1 of 1 completed

In [33]:
symbols = ['INTC']
# Establecer la fecha de inicio como hace 23 años
start_date = datetime.datetime.now() - datetime.timedelta(days=23*365)
start_date = start_date.strftime('%Y-%m-%d')
# Establecer la fecha final como la fecha actual
end_date = datetime.datetime.now().strftime('%Y-%m-%d')
# Descargar los datos utilizando el método download()
data = yf.download(tickers=symbols, start=start_date, end=end_date, interval="1d")
df = pd.concat([data], axis=1)
df = df.reset_index()
df.to_csv("IntelInc.csv", index=False)

[*********************100%***********************]  1 of 1 completed

In [34]:
symbols = ['MSFT']
# Establecer la fecha de inicio como hace 23 años
start_date = datetime.datetime.now() - datetime.timedelta(days=23*365)
start_date = start_date.strftime('%Y-%m-%d')
# Establecer la fecha final como la fecha actual
end_date = datetime.datetime.now().strftime('%Y-%m-%d')
# Descargar los datos utilizando el método download()
data = yf.download(tickers=symbols, start=start_date, end=end_date, interval="1d")
df = pd.concat([data], axis=1)
df = df.reset_index()
df.to_csv("Microsoft.csv", index=False)

[*********************100%***********************]  1 of 1 completed

In [35]:
symbols = ['NFLX']
# Establecer la fecha de inicio como hace 23 años
start_date = datetime.datetime.now() - datetime.timedelta(days=23*365)
start_date = start_date.strftime('%Y-%m-%d')
# Establecer la fecha final como la fecha actual
end_date = datetime.datetime.now().strftime('%Y-%m-%d')
# Descargar los datos utilizando el método download()
data = yf.download(tickers=symbols, start=start_date, end=end_date, interval="1d")
df = pd.concat([data], axis=1)
df = df.reset_index()
df.to_csv("Netflix.csv", index=False)

[*********************100%***********************]  1 of 1 completed